<mat-card *ngIf="ready">
    <mat-card-header class="mat-card-header-umv">
      <div class="mat-card-header-text">
        <mat-card-subtitle>
          <h2>Detalle Evento Mantenimiento</h2>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-tab-group [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)">
     <mat-tab *ngFor="let tabItem of objEventos">
        <ng-template mat-tab-label>
            {{tabItem.evento}}
        </ng-template>
    <mat-card-content *ngIf="objEventos[currentTabIndex]['evento']=='DIAGNOSTICO'">
    <app-consulta-visita-diagnostico [idMantenimientoEvento]="idMantenimientoEvento" [idDocumento]="idDocumento"></app-consulta-visita-diagnostico>
    <mat-card *ngIf="readyDocs">
      <mat-card-header class="mat-card-header-umv">
        <div class="mat-card-header-text">
          <mat-card-subtitle>
            <h2>Historial documentos mantenimiento</h2>
          </mat-card-subtitle>
        </div>
      </mat-card-header>
      <table mat-table [dataSource]="docsDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id_documento">
          <th mat-header-cell *matHeaderCellDef>ID Doc</th>
          <td mat-cell *matCellDef="let row">{{row.id_documento}}</td>
        </ng-container>
        <!-- PK ID Column -->
        <ng-container matColumnDef="descripcion_tipo_documento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Doc</th>
          <td mat-cell *matCellDef="let row"> {{row.descripcion_tipo_documento}}</td>
        </ng-container>
        <!-- RADICADO ENTRADA Column -->
        <ng-container matColumnDef="descripcion_estado_documento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let row"> {{row.descripcion_estado_documento}}</td>
        </ng-container>
        <!-- FECHA Doc Column -->
        <ng-container matColumnDef="fecha_documento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Doc</th>
          <td mat-cell *matCellDef="let row"> {{row.fecha_documento | date :'dd/MM/YYYY'}}</td>
        </ng-container>
        <!-- ESTADO ACTIVIDAD Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
          <td mat-cell *matCellDef="let row"> {{row.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="url_archivo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descargar </th>
          <td mat-cell *matCellDef="let row">
            <button  color="primary" *ngIf="row.url_archivo" (click)="docClick(row)">
              <mat-icon aria-label="Documento">attach_file</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef= "docsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: docsColumns;"
          ></tr>
      </table>
    </mat-card>

    <mat-card *ngIf="readyGestion">
      <mat-card-header class="mat-card-header-umv">
        <div class="mat-card-header-text">
          <mat-card-subtitle>
            <h2>Historial gestión mantenimiento</h2>
          </mat-card-subtitle>
        </div>
      </mat-card-header>
      <table mat-table [dataSource]="gestionDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id_proceso_gestion">
          <th mat-header-cell *matHeaderCellDef>ID Gestión</th>
          <td mat-cell *matCellDef="let row">{{row.id_proceso_gestion}}</td>
        </ng-container>
        <!-- PK ID Column -->
        <ng-container matColumnDef="nombre_actividad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</th>
          <td mat-cell *matCellDef="let row"> {{row.nombre_actividad}}</td>
        </ng-container>
        <!-- FECHA ASIGNACION Column -->
        <ng-container matColumnDef="fecha_asignacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ASIGNACION </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha_asignacion | date :'dd/MM/YYYY'}}</td>
        </ng-container>
        <!-- VENCIMIENTO Column -->
        <ng-container matColumnDef="fecha_vencimiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>VENCIMIENTO</th>
          <td mat-cell *matCellDef="let row"> {{row.fecha_vencimiento | date :'dd/MM/YYYY'}}</td>
        </ng-container>
        <!-- PK ID Column -->
        <ng-container matColumnDef="nombre_usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsable</th>
          <td mat-cell *matCellDef="let row"> {{row.nombre_usuario}}</td>
        </ng-container>
        <!-- RADICADO ENTRADA Column -->
        <ng-container matColumnDef="descripcion_estado_pk">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Pk</th>
          <td mat-cell *matCellDef="let row"> {{row.descripcion_estado_pk}}</td>
        </ng-container>
        <!-- ESTADO ACTIVIDAD Column -->
        <ng-container matColumnDef="estado_gestion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Gestión</th>
          <td mat-cell *matCellDef="let row"> {{row.estado_gestion}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef= "gestionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: gestionColumns;"
          ></tr>
      </table>
      </mat-card>
      </mat-card-content>
      <mat-card-content *ngIf="objEventos[currentTabIndex]['evento']=='DISENIO'">
        <app-consulta-disenio [idMantenimientoEvento]="idMantenimientoEvento"></app-consulta-disenio>
      </mat-card-content>
    </mat-tab>
    </mat-tab-group>
  <mat-card-actions align="start">
    <button mat-flat-button color="primary" type="button" (click)="backClicked()">Regresar</button>
  </mat-card-actions>
</mat-card>
