<mat-card>
  <mat-card-header class="mat-card-header-umv">
    <div class="mat-card-header-text">
      <mat-card-subtitle>
        <h2>{{titulo}}</h2>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <form [formGroup]="formDiagnostico" (ngSubmit)="onSubmit()" *ngIf="ready && !guardadoTodo">

      <mat-accordion multi class="headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Encabezado
              </mat-panel-title>
              <mat-panel-description>
                  <span>{{encabezadoForm.status == 'INVALID' && encabezadoForm.touched?'Campos sin diligenciar':''}}</span>
                  <mat-icon [color]="encabezadoForm.status == 'INVALID' && encabezadoForm.touched?'warn':'primary'" *ngIf = "encabezadoForm.touched">{{encabezadoForm.status == 'INVALID' && encabezadoForm.touched?'cancel':'check_circle'}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div formGroupName="encabezado" class="contenedorFormGroup" id="seccionEncabezado">
              <mat-form-field appearance="outline">
                  <mat-label>Localidad</mat-label>
                  <mat-select formControlName="id_localidad" [disabled]="true">
                    <mat-option [value]="mantenimientoVialEvento.id_localidad">{{mantenimientoVialEvento.valor_localidad +' - '+ mantenimientoVialEvento.descripcion_localidad}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>UPZ</mat-label>
                  <mat-select formControlName="id_upz" [disabled]="true">
                    <mat-option [value]="mantenimientoVialEvento.id_upz">{{mantenimientoVialEvento.valor_upz +' - '+ mantenimientoVialEvento.descripcion_upz}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Barrio</mat-label>
                  <mat-select formControlName="id_barrio" [disabled]="true">
                    <mat-option [value]="mantenimientoVialEvento.id_barrio">{{mantenimientoVialEvento.descripcion_barrio}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class = "mat-form-field-disabled">
                  <mat-label>CIV</mat-label>
                  <input matInput formControlName="civ" readonly >
              </mat-form-field>

              <mat-form-field appearance="outline" class = "mat-form-field-disabled">
                  <mat-label>PK ID Calzada</mat-label>
                  <input matInput formControlName="pk_id_calzada" readonly >
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Eje Vial</mat-label>
                  <input matInput formControlName="eje_vial" autocomplete="off">
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>desde</mat-label>
                  <input matInput formControlName="desde" autocomplete="off">
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>hasta</mat-label>
                  <input matInput formControlName="hasta" autocomplete="off">
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Zona</mat-label>
                  <mat-select formControlName="id_zona" [disabled]="true">
                    <mat-option [value]="mantenimientoVialEvento.id_zona">{{mantenimientoVialEvento.descripcion_zona}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class = "mat-form-field-disabled">
                  <mat-label>Fecha visita</mat-label>
                  <input matInput formControlName="fecha_visita_tecnica" readonly >
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Sección vial</mat-label>
                  <mat-select formControlName="id_tipo_seccion_vial" [disabled]="true">
                    <mat-option [value]="mantenimientoVialEvento.id_tipo_seccion_vial">{{mantenimientoVialEvento.descripcion_seccion_vial}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class = "mat-form-field-disabled">
                  <mat-label>Fecha solicitud</mat-label>
                  <input matInput formControlName="solicitud_fecha" readonly >
              </mat-form-field>

              <mat-form-field appearance="outline" class = "mat-form-field-disabled">
                <mat-label>Origen</mat-label>
                <input matInput formControlName="descripcion_origen" readonly >
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Uso via</mat-label>
                  <mat-select formControlName="id_tipo_uso_via" required>
                    <mat-option *ngFor="let tipo of listas[19]"[value]="tipo.id_tipo">{{tipo.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Tipo malla vial</mat-label>
                  <mat-select formControlName="id_tipo_malla" [disabled]="true">
                    <mat-option [value]="mantenimientoVialEvento.id_tipo_malla">{{mantenimientoVialEvento.descripcion_malla}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Rutas de transporte</mat-label>
                  <mat-select formControlName="rutas_transporte" required>
                    <mat-option [value]="'SI'">SI</mat-option>
                    <mat-option [value]="'NO'">NO</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Transitabilidad</mat-label>
                  <mat-select formControlName="id_tipo_transitabilidad" required>
                    <mat-option *ngFor="let tipo of listas[29]"[value]="tipo.id_tipo">{{tipo.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class = "mat-form-field-disabled">
                  <mat-label>Area (m2)</mat-label>
                  <input matInput formControlName="area_pk" readonly >
              </mat-form-field>

              <mat-form-field appearance="outline" class = "mat-form-field-disabled">
                  <mat-label>Ancho (m)</mat-label>
                  <input matInput formControlName="ancho_pk" readonly >
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Programa</mat-label>
                  <mat-select formControlName="id_tipo_programa" [disabled]="idActividad == 43" (selectionChange)="tipoProgramaSelected()">
                    <mat-option [value]="null"> -- </mat-option>
                    <mat-option *ngFor="let tipo of listas[20]"[value]="tipo.id_tipo">{{tipo.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Superficie</mat-label>
                  <mat-select formControlName="id_tipo_superficie" required (selectionChange)="tipoSuperficieSelected()">
                    <mat-option *ngFor="let tipo of listas[42]"[value]="tipo.id_tipo">{{tipo.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Interveción Total</mat-label>
                  <mat-select formControlName="id_tipo_intervencion_total" (selectionChange)="intervTotalSelected()">
                    <mat-option [value]="null"> -- </mat-option>
                    <mat-option *ngFor="let tipo of tiposIntervencionTotal"[value]="tipo.id_tipo">{{tipo.descripcion}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <mat-action-row>
              <button type="button" mat-raised-button (click) = "guardarEncabezado()" color="primary" [disabled]="encabezadoForm.status == 'INVALID'">Guardar <mat-icon>save</mat-icon></button>
          </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="conUnidadesMuestreo" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Unidades de muestreo ({{unidadesMuestreoForm.controls.length}})
                </mat-panel-title>
                <mat-panel-description>
                  {{unidadesMuestreoForm.errors?.required && (unidadesMuestreoForm.touched)?'Mínimo una unidad':''}}
                  {{!unidadesMuestreoForm.errors && (unidadesMuestreoForm.status == 'INVALID')?'Corregir unidades':''}}
                  <mat-panel-description>
                      <span>{{''}}</span>
                  <mat-icon [color]="unidadesMuestreoForm.status == 'INVALID' && unidadesMuestreoForm.touched?'warn':'primary'" *ngIf = "unidadesMuestreoForm.touched">{{unidadesMuestreoForm.status == 'INVALID' && unidadesMuestreoForm.touched?'cancel':'check_circle'}}</mat-icon>
                  </mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div formGroupName="unidadesMuestreo" class="contenedorFormGroup seccionMultiple" id="seccionUnidadesMuestreo">
                <div class="itemForm" [class.invalidItem]="unidad.status == 'INVALID'"
                    *ngFor="let unidad of unidadesMuestreoForm.controls; let i=index"
                    [formGroupName]="i"
                    (click) = "openDialogUnidadMuestreo(i)">
                  <div class="header"><strong>Unidad {{i+1}}</strong></div>
                  <div class="item">{{unidad.get('abscisaInicial')?.value}}m - {{unidad.get('abscisaFinal')?.value}}m</div>
                  <div *ngIf = "encabezadoForm.get('id_tipo_superficie')?.value != 1102"><strong>Ancho:</strong> {{unidad.get('ancho')?.value}}m</div>
                  <div><strong>{{encabezadoForm.get('id_tipo_superficie')?.value == 1102?'Losas:':'Area:'}}</strong>{{encabezadoForm.get('id_tipo_superficie')?.value == 1102?unidad.get('nLosas')?.value: ((unidad.get('abscisaFinal')?.value - unidad.get('abscisaInicial')?.value) * unidad.get('ancho')?.value) + 'm2'}}</div>
                </div>
                <div class="itemForm new-item" (click) = "addUnidadMuestreo()">
                  <img src="assets/img/app/add_circle_outline-24px.svg">
                  <span><strong>Agregar</strong></span>
                </div>
              </div>
              <mat-action-row>
                <button type="button" mat-raised-button color="primary" (click)="saveCambiosUnidadesYFallas()" [disabled]="unidadesMuestreoForm.status == 'INVALID' || fallasForm.status == 'INVALID'">Guardar unidades y fallas<mat-icon>save</mat-icon></button>
                <button type="button" mat-button color="primary" (click)="prevStep()"><mat-icon>keyboard_arrow_up</mat-icon></button>
            </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="conFallas" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Fallas ({{fallasForm.controls.length}})
                </mat-panel-title>
                <mat-panel-description>
                  {{!fallasForm.errors && (fallasForm.status == 'INVALID')?'Corregir fallas':''}}
                  <mat-panel-description>
                      <span>{{''}}</span>
                      <mat-icon [color]="fallasForm.status == 'INVALID' && fallasForm.touched?'warn':'primary'" *ngIf = "fallasForm.touched">{{fallasForm.status == 'INVALID' && fallasForm.touched?'cancel':'check_circle'}}</mat-icon>
                  </mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
                <div formGroupName="fallas" class="contenedorFormGroup seccionMultiple" id="seccionFallas">
                  <div class="itemForm" [class.invalidItem]="falla.status == 'INVALID'"
                      *ngFor="let falla of fallasForm.controls; let i=index"
                      [formGroupName]="i"
                      (click) = "openDialogFalla(i)">
                    <div class="header"><strong> {{conUnidadesMuestreo?'Und' + (falla.get('indexUnidadMuestreo')?.value == null?'?':falla.get('indexUnidadMuestreo')?.value+1) + ' -':''}} Falla {{i+1}}</strong></div>
                    <div class="item"> <small>{{findTipo(9,falla.get('idTipoFalla')?.value)?.descripcion}}</small></div>
                    <div class="item">{{findTipo(24,falla.get('idTipoSeveridad')?.value)?.descripcion}}</div>
                  </div>
                  <div class="itemForm new-item" (click) = "addFalla()">
                    <img src="assets/img/app/add_circle_outline-24px.svg">
                    <span><strong>Agregar</strong></span>
                  </div>
                </div>
              <mat-action-row>
                <button type="button" mat-raised-button color="primary" (click)="saveCambiosUnidadesYFallas()" [disabled]="unidadesMuestreoForm.status == 'INVALID' || fallasForm.status == 'INVALID'">Guardar {{conUnidadesMuestreo?'unidades y fallas':''}} <mat-icon>save</mat-icon></button>
                <button type="button" mat-button color="primary" (click)="prevStep()"><mat-icon>keyboard_arrow_up</mat-icon></button>
            </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Fotos ({{fotosForm.controls.length}})
                </mat-panel-title>
                <mat-panel-description>
                  {{fotosForm.errors?.MinLengthArray && (fotosForm.touched)?'Mínimo 2 fotos':''}}
                  {{fotosForm.errors?.MaxLengthArray && (fotosForm.touched)?'Maximo 6 fotos':''}}
                  {{!fotosForm.errors && (fotosForm.status == 'INVALID')?'Fotos vacias':''}}
                  <mat-panel-description>
                      <span>{{''}}</span>
                      <mat-icon [color]="fotosForm.status == 'INVALID' && fotosForm.touched?'warn':'primary'" *ngIf = "fotosForm.touched">{{fotosForm.status == 'INVALID' && fotosForm.touched?'cancel':'check_circle'}}</mat-icon>
                  </mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
                <div formGroupName="fotos" class="contenedorFormGroup seccionMultiple" id="seccionFotos">
                  <div class="itemForm" [class.invalidItem]="foto.status == 'INVALID'"
                      *ngFor="let foto of fotosForm.controls; let i=index"
                      [formGroupName]="i"
                      (click) = "openDialogFoto(i,foto.value)">
                      <input #inputFoto style="display: none;" hidden="true" type="file" accept="image/*" (change)="onFotoChanged($event,i)" (click)="stopPropagation($event)">
                      <img mat-card-image src="{{(foto.get('url')?.value.startsWith('data:')?'':URL_FOTOS)+foto.get('url')?.value}}" *ngIf="foto.get('url')?.value.length > 0">
                      <div class="header" *ngIf="foto.status == 'INVALID'"><strong>Sin foto</strong></div>
                  </div>
                  <div class="itemForm new-item" (click) = "addFoto()" *ngIf='fotosForm.controls.length < 6'>
                    <img src="assets/img/app/add_circle_outline-24px.svg">
                    <span><strong>Agregar</strong></span>
                  </div>
                </div>
              <mat-action-row>
                <button type="button" mat-raised-button color="primary" (click)="guardarFotos()" [disabled]="fotosForm.status == 'INVALID'" >Guardar <mat-icon>save</mat-icon></button>
                <button type="button" mat-button color="primary" (click)="prevStep()"><mat-icon>keyboard_arrow_up</mat-icon></button>
            </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Otros Factores ({{otrosFactoresForm.controls.length}})
                </mat-panel-title>
                <mat-panel-description>
                  <mat-panel-description>
                      <span>{{''}}</span>
                      <mat-icon [color]="otrosFactoresForm.status == 'INVALID' && otrosFactoresForm.touched?'warn':'primary'" *ngIf = "otrosFactoresForm.touched">{{otrosFactoresForm.status == 'INVALID' && otrosFactoresForm.touched?'cancel':'check_circle'}}</mat-icon>
                  </mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
  <!---->

              <div formGroupName="otrosFactores" class="contenedorFormGroup seccionMultiple" id="seccionOtrosFactores">
                <div class="itemForm" [class.invalidItem]="otroFactor.status == 'INVALID'"
                    *ngFor="let otroFactor of otrosFactoresForm.controls; let i=index"
                    [formGroupName]="i"
                    (click) = "openDialogOtroFactor(i,otroFactor.value)">
                  <div class="header"><strong>Otro Factor {{i+1}}</strong></div>
                  <div class="item"> <small>{{findTipo(11,otroFactor.get('tipoFactor')?.value)?.descripcion}}</small></div>
                </div>
                <div class="itemForm new-item" (click) = "addOtroFactor()">
                  <img src="assets/img/app/add_circle_outline-24px.svg">
                  <span><strong>Agregar</strong></span>
                </div>
              </div>

  <!---->
              <mat-action-row>
                <button type="button" mat-raised-button color="primary" (click)="guardarOtrosFactores()" [disabled]="otrosFactoresForm.status == 'INVALID'" >Guardar <mat-icon>save</mat-icon></button>
                <button type="button" mat-button color="primary" (click)="prevStep()"><mat-icon>keyboard_arrow_up</mat-icon></button>
            </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle *ngIf="idActividad == ID_ACTIVIDAD_PREDISENIO || idActividad == ID_ACTUALIZAR_PREDISENIO">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Apiques y aforos
                </mat-panel-title>
                <mat-panel-description>
                  {{apiquesSaved?'':'Debe incluir las solicitudes'}}
                  <mat-panel-description>
                      <span>{{''}}</span>
                      <mat-icon [color]="apiquesSaved?'primary':'warn'">{{apiquesSaved?'check_circle':'cancel'}}</mat-icon>
                  </mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-registro-apique #RegApiques (guardadoRealizado)="guardadoApiquesEvt($event)" *ngIf="idMantenimientoVialEvento" [MantenimientoVialEvento] = "mantenimientoVialEvento"></app-registro-apique>
              <mat-action-row>
                <button type="button" mat-raised-button color="primary" (click)="regApiques.save($event)" [disabled]="otrosFactoresForm.status == 'INVALID'" >Guardar <mat-icon>save</mat-icon></button>
                <button type="button" mat-button color="primary" (click)="prevStep()"><mat-icon>keyboard_arrow_up</mat-icon></button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-card>
            Observaciones
            <mat-form-field appearance="fill" style="width:100%">
              <mat-label>Observaciones diagnóstico</mat-label>
              <textarea matInput formControlName="observaciones" #inputObservaciones maxlength="600" cdkTextareaAutosize cdkAutosizeMinRows="2" autocomplete="off"></textarea>
              <mat-hint align="end">Máximo 600 caracteres: {{inputObservaciones.value?.length || 0}}/600</mat-hint>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="idActividad == ID_ACTIVIDAD_PREDISENIO?formDiagnostico.status == 'INVALID' || !apiquesSaved:formDiagnostico.status == 'INVALID'">Guardar todo <mat-icon>save</mat-icon></button>
          </mat-card>
    </form>
    <input #inputFotoTemp style="display: none;" hidden="true" type="file" accept="image/*" (change)="onFotoChanged($event,fotosForm.length)" (click)="stopPropagation($event)">
</mat-card>
<mat-card *ngIf="guardadoTodo">
  <mat-card-header class="mat-card-header-umv">
    <div class="mat-card-header-text">
      <mat-card-subtitle>
        <h2>Gestión mantenimiento</h2>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <app-avance-mantenimiento [idProcesoGestion]="idGestion" (gestionRealizada)="gestionRealizada()" (opcionSeleccionada)="accionGestion($event)" [acciones]="[{text:'cancelar',action:'cancel'}]"></app-avance-mantenimiento>
</mat-card>
<mat-card *ngIf="ready">
<app-historial-mantenimiento *ngIf="ready" [idMantenimiento]="idMantenimientoVial"></app-historial-mantenimiento>
</mat-card>
