<h2 mat-dialog-title>Realizar solicitud</h2>
<mat-dialog-content>
    <form class="example-form">
        <mat-form-field appearance="outline" style="width: 100%;" [(ngModel)]="prioridad">
          <mat-label>Prioridad</mat-label>
          <input matInput type="number" >
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
            <mat-label>Comentarios</mat-label>
            <textarea matInput ></textarea>
        </mat-form-field>
     </form>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
    
    <button mat-button [mat-dialog-close]="prioridad" cdkFocusInitial  class="color-primary-100">Enviar</button>
    <button mat-button mat-dialog-close class="color-warn-800" >Cancelar</button>
</mat-dialog-actions>
