<app-modal [titulo]="" (cerrar)="vincularG()" *ngIf="actualizaGestion" [btnOk]="true" [btnCancel]="false">

</app-modal>

<mat-card>
    <mat-card-header class="mat-card-header-umv">
      <div class="mat-card-header-text">
        <mat-card-subtitle>
          <h2>Gestionar Reservas</h2>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
        <mat-card *ngIf="!avanzarGestion">
          <h4>Seleccione tipo de radicado</h4>
          <mat-radio-group name="radioTipoRadicado" [(ngModel)]="tipoRad" (change)="selTipoRad()"  required>
            <mat-radio-button  value='Entrada' >
              Entrada
            </mat-radio-button>
            <mat-radio-button value='Salida' >
              Salida
            </mat-radio-button>
          </mat-radio-group>
          <mat-divider></mat-divider>
          <app-buscar-radicado #buscarRadicado [tipoDestino]=true [tipoRad]="tipoRad" (radLoaded)="vincular()"
           (changeResp)="setTipoRespuesta($event)"></app-buscar-radicado>
          <mat-divider></mat-divider>
      <mat-tab-group [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)">
       <mat-tab *ngFor="let tabItem of transiciones">
          <ng-template mat-tab-label>
              {{tabItem.actividad_destino}}
          </ng-template>
          <mat-accordion>
            <app-tabla-gestion-pendiente #tablaSolicitudesGestionPendiente (desSeleccionTotal)="desSeleccionTotal()"
           (solicitudGestionSeleccionada)="clickSelectSolicitudGestionPendiente($event)"
            (desSeleccionSolicitud)="desSeleccionGestionPendiente($event)">
            </app-tabla-gestion-pendiente>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
          <mat-divider></mat-divider>
          <mat-card *ngIf="tablaReady">
            <div>
              <strong>Registros seleccionados:</strong> {{tablaSolicitudesGestionPendienteComponent.toArray()[currentTabIndex].selection.selected.length}}
            </div>
            <div >
              <strong>Total Km carril impacto: </strong>
              {{totalesKmCarrilImpacto.total}}
            </div>
            <div *ngFor="let discriminado of totalesKmCarrilImpacto.discriminado">
              <strong>{{discriminado.codigo_actividad_agrupada!='null'?discriminado.codigo_actividad_agrupada:'Sin nombre'}} :</strong>
              {{discriminado.km_carril_impacto}}
            </div>
          </mat-card>
          <button type="button" mat-raised-button color="primary" (click)="aprobarMultiplesSolicitudes()"
            [disabled]="!buscarRadicado.radicado || tablaSolicitudesGestionPendienteComponent.toArray()[currentTabIndex].selection.isEmpty()">
              Vincular Radicado a Solicitudes
          </button>
      </mat-card>
      <app-avance-masivo-mantenimiento *ngIf="avanzarGestion" [actividadDestino] = "objDestino" [idsProcesoGestion]="idsProcesoGestion" (gestionRealizada)="gestionRealizadaEvt()"></app-avance-masivo-mantenimiento>


</mat-card>
