<app-mapa-umv #mapa
  [parent]="this"
  [center]="mapCenter"
  [basemap]="basemapType"
  [zoom]="mapZoomLevel"
  (mapLoaded)="cargaMapa($event)"
  (filterPK)="filterDataPK($event)"
  (clearFilters)="mapClearFilters($event)">
</app-mapa-umv>
<mat-card>
  <mat-card-header class="mat-card-header-umv">
    <div class="mat-card-header-text" style="width:100%">
      <mat-card-subtitle>
        <h2>{{titulo}}</h2>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <div class="mat-elevation-z8">
    <div style="overflow-x: scroll;">
    <table mat-table [dataSource]="dataSource" matSort *ngIf = "ready">
      <!-- ID Column -->
      <ng-container matColumnDef="id_mantenimiento_vial">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row" (click)="irAPk(row.pk_id_calzada)">{{row.id_mantenimiento_vial}}</td>
      </ng-container>
      <!-- PK ID Column -->
      <ng-container matColumnDef="pk_id_calzada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PK ID </th>
        <td mat-cell *matCellDef="let row" (click)="irAPk(row.pk_id_calzada)"> {{row.pk_id_calzada}}</td>
      </ng-container>
      <!-- RADICADO ENTRADA Column -->
      <ng-container matColumnDef="solicitud_radicado_entrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RADICADO ENTRADA </th>
        <td mat-cell *matCellDef="let row"> {{row.solicitud_radicado_entrada}}</td>
      </ng-container>
      <!-- ESTADO ACTIVIDAD Column -->
      <ng-container matColumnDef="descripcion_origen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ORIGEN </th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion_origen}}</td>
      </ng-container>
      <!-- ORIGEN ENTRADA Column -->
      <ng-container matColumnDef="descripcion_estado_pk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO </th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion_estado_pk}}</td>
      </ng-container>
      <!-- FECHA ASIGNACION Column -->
      <ng-container matColumnDef="fecha_asignacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA ASIGNACION </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_asignacion | date :'dd/MM/YYYY'}}</td>
      </ng-container>
      <!-- VENCIMIENTO Column -->
      <ng-container matColumnDef="fecha_vencimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>VENCIMIENTO</th>
        <td mat-cell *matCellDef="let row" [ngClass]="getClassTiempo(row.fecha_vencimiento)"> {{row.fecha_vencimiento | date :'dd/MM/YYYY'}}</td>
      </ng-container>
      <!-- RESPONSABLE Column -->
      <ng-container matColumnDef="nombre_responsable_visita">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RESPONSABLE DIAGNOSTICO</th>
        <td mat-cell *matCellDef="let row"> {{row.nombre_responsable_visita}}</td>
      </ng-container>

      <!-- RESPONSABLE PRE-DISENIO Column -->
      <ng-container matColumnDef="nombre_responsable_predise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RESPONSABLE PRE DISEÑO</th>
        <td mat-cell *matCellDef="let row"> {{row.nombre_responsable_predise}}</td>
      </ng-container>

      <!-- RESPONSABLE DISENIO Column -->
      <ng-container matColumnDef="nombre_responsable_disenio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RESPONSABLE DISEÑO</th>
        <td mat-cell *matCellDef="let row"> {{row.nombre_responsable_disenio}}</td>
      </ng-container>


      <!-- Localidad column -->
      <ng-container matColumnDef="descripcion_localidad">
        <th mat-header-cell *matHeaderCellDef>LOCALIDAD</th>
        <td mat-cell *matCellDef="let row">{{row.descripcion_localidad}}</td>
      </ng-container>
      <!-- ZONA column -->
      <ng-container matColumnDef="descripcion_zona">
        <th mat-header-cell *matHeaderCellDef>ZONA</th>
        <td mat-cell *matCellDef="let row">{{row.descripcion_zona}}</td>
      </ng-container>
      <!-- BARRIO column -->
      <ng-container matColumnDef="descripcion_barrio">
        <th mat-header-cell *matHeaderCellDef>BARRIO</th>
        <td mat-cell *matCellDef="let row">{{row.descripcion_barrio}}</td>
      </ng-container>
      <!-- UPZ column -->
      <ng-container matColumnDef="descripcion_upz">
        <th mat-header-cell *matHeaderCellDef>UPZ</th>
        <td mat-cell *matCellDef="let row">{{row.descripcion_upz}}</td>
      </ng-container>
      <!-- TRABAJAR Column -->
      <ng-container matColumnDef="_CTRL_ACCION_TRABAJAR">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ACCIONES</th>
        <td mat-cell *matCellDef="let row">
          <div class="example-button-row">
            <button mat-mini-fab color="primary" matTooltip="Trabajar" (click)="onRegistroVisita(row)"> <mat-icon>work</mat-icon></button>
            <button mat-mini-fab color="primary" matTooltip="Consultar versiones" (click)="onVersionesVisita(row)"> <mat-icon>file_copy</mat-icon></button>
          </div></td>
      </ng-container>

      <ng-container *ngFor="let c of filterColumns;let i = index" [matColumnDef]="c">

        <th mat-header-cell *matHeaderCellDef >
          <mat-form-field class="filter" floatLabel="never"  *ngIf = "!c.startsWith('_CTRL_ACCION_')">
            <mat-label>Buscar</mat-label>
            <input matInput autocomplete="off" [formControl]="formControls[i]">
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="onClearFilters()" *ngIf = "c.startsWith('_CTRL_ACCION_')">LIMPIAR</button>
      </ng-container>

     <!--
      <ng-container matColumnDef="_CTRL_ACCION_TRABAJAR_">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-flat-button color="primary" (click)="onClearFilters()">LIMPIAR</button>
      </ng-container>
      -->
      <!--Fin campos de busqueda-->

      <!-- No hay datos Column -->
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No hay datos
        </mat-footer-cell>
      </ng-container>
      <!-- Cargando datos Column -->
      <ng-container matColumnDef="Cargando">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Cargando datos...
        </mat-footer-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef= "displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef= "filterColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      <tr mat-footer-row *matFooterRowDef= "['Cargando']" [ngClass]="{'hide':dataSource!=null}"></tr>
      <tr mat-footer-row *matFooterRowDef= "['noData']" [ngClass]="{'hide':!(dataSource==null)}"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos para filtro</td>
      </tr>
    </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
