<article>
    <article class="table-header" style="flex: 1; text-align: right; margin-right: 16px;">
        <button mat-raised-button class="color-primary-100" 
            (click)="removeSelectedRows()">
            ELIMINAR
            <mat-icon>delete</mat-icon>
        </button> &nbsp;
        <button mat-raised-button class="color-primary-100" (click)="addRow()">
            NUEVO
            <mat-icon>add</mat-icon>
        </button>
    </article><br>
    <div class="mat-elevation-z8">
        <div style="overflow-x: scroll;">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngIf="col !== 'isEdit' && col !== 'isSelected'">
                            <span *ngIf="col === 'id_tipo_horario'">TIPO HORARIO</span>
                            <span *ngIf="col === 'id_persona'">PERSONA</span>
                            <span *ngIf="col === 'identificacion'">IDENTIFICACION</span>
                            <span *ngIf="col === 'id_tipo_cargo'">CARGO</span>
                            <span *ngIf="col === 'id_tipo_rol'">ROL</span>
                            <span *ngIf="col === 'telefono'">TELEFONO</span>
                            <span *ngIf="col === 'email'">CORREO</span>
                            <span *ngIf="col === 'id_tipo_categoria_persona'">CATEGORIA PERSONA</span>
                            <span *ngIf="col === 'horario_llegada'">HORARIO LLEGADA</span>
                            <span *ngIf="col === 'horario_salida'">HORARIO SALIDA</span>
                            <span *ngIf="col === 'observaciones'">OBSERVACIONES</span>
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let element">

                        <!-- ****************VISTA POR DEFECTO DE LA TABLA*********** -->
                        <div [ngSwitch]="dataSchema[col]" *ngIf="!element.isEdit">

                            <div *ngSwitchCase="'id_tipo_horario'">
                                {{element.descripcion_tipo_horario}}
                            </div>

                            <div *ngSwitchCase="'id_persona'">
                                {{element.nombre}}
                            </div>

                            <div *ngSwitchCase="'id_tipo_cargo'">
                                {{element.descripcion_cargo}}
                            </div>

                            <div *ngSwitchCase="'id_tipo_rol'">
                                {{element.descripcion_rol}}
                            </div>

                            <div *ngSwitchCase="'id_tipo_categoria_persona'">
                                {{element.descripcion_categoria_persona}}
                            </div>

                            <div *ngSwitchCase="'horario_llegada'">
                                {{element.horario_llegada | date : 'dd/MM/YYYY'}}
                            </div>

                            <div *ngSwitchCase="'horario_salida'">
                                {{element.horario_salida | date : 'dd/MM/YYYY'}}
                            </div>

                            <div *ngSwitchCase="'observaciones'">
                                <div *ngIf="element.observaciones">
                                    {{element.observaciones | slice:0:40 }}
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" [matTooltip]="element.observaciones"
                                        *ngIf="element.observaciones.length > 40">
                                        <mat-icon>...</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <!-- label por defecto -->
                            <span *ngSwitchDefault>
                                {{element[col]}}
                            </span>

                            <!-- checkbox para seleccionar y eliminar en grupos -->
                            <ng-container *ngSwitchCase="'isSelected'">
                                <mat-checkbox (change)="element.isSelected = $event.checked"></mat-checkbox>
                            </ng-container>

                            <!-- botoneria -->
                            <div *ngSwitchCase="'isEdit'">
                                <button mat-icon-button (click)="removeRow(element.id_infdiacua_personal)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-icon-button (click)="element.isEdit = !element.isEdit; isValidRol(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <!-- *************VISTA AL AGREGAR o EDITAR*****************  -->
                        <div [ngSwitch]="dataSchema[col]" *ngIf="element.isEdit">

                            <ng-container *ngSwitchCase="'id_tipo_horario'">
                                <mat-form-field appearance="fill">
                                    <mat-select [(ngModel)]="element[col]">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of listas[127]" style="font-size: 18;" [value]="tipo.id_tipo">
                                            {{tipo.descripcion | titlecase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field><br>
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </ng-container>
                            
                            <ng-container *ngSwitchCase="'id_persona'">
                                <mat-form-field appearance="fill">
                                    <mat-select [(ngModel)]="element[col]" (selectionChange)="getCampos(element)">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of listas_personas" [value]="tipo.id_persona">
                                            {{tipo.nombre | titlecase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field><br>
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </ng-container>

                            <ng-container *ngSwitchCase="'id_tipo_cargo'">
                                <mat-form-field appearance="fill">
                                    <mat-select [(ngModel)]="element[col]" >
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of listas[4]" style="font-size: 18;"
                                            [value]="tipo.id_tipo">
                                            {{tipo.descripcion | titlecase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field><br>
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </ng-container>

                            <ng-container *ngSwitchCase="'id_tipo_rol'">
                                <mat-form-field appearance="fill">
                                    <mat-select [(ngModel)]="element[col]" (selectionChange)="isValidRol(element)">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of listas[82]" style="font-size: 18;" [value]="tipo.id_tipo">
                                            {{tipo.descripcion | titlecase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field><br>
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </ng-container>

                            <ng-container *ngSwitchCase="'id_tipo_categoria_persona'">
                                <mat-form-field appearance="fill">
                                    <mat-select [(ngModel)]="element[col]">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let tipo of listas[14]" style="font-size: 18;" [value]="tipo.id_tipo">
                                            {{tipo.descripcion | titlecase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field><br>
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </ng-container>

                            <ng-container *ngSwitchCase="'horario_llegada'">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha*</mat-label>
                                    <input matInput [(ngModel)]="element[col]" [matDatepicker]="picker0" placeholder="DD/MM/YYYY">
                                    <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                                    <mat-datepicker #picker0></mat-datepicker><br>
                                </mat-form-field>
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </ng-container>
                            
                            <ng-container *ngSwitchCase="'horario_salida'">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha*</mat-label>
                                    <input matInput [(ngModel)]="element[col]" [matDatepicker]="picker1" placeholder="DD/MM/YYYY">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker><br>     
                                </mat-form-field><br>
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </ng-container>

                            <mat-form-field *ngSwitchCase="'observaciones'" appearance="fill" >
                                <textarea matInput [(ngModel)]="element[col]" cdkTextareaAutosize cdkAutosizeMinRows="2"
                                    maxlength="600" ></textarea>
                                <mat-hint align="end">Máximo 600 caracteres</mat-hint>
                            </mat-form-field>                            

                            <!-- Campos por defectos -->
                            <mat-form-field *ngSwitchDefault>
                                <mat-label>{{col}}</mat-label>
                                <input style="font-size: 15px;" autocomplete="off" [type]="dataSchema[col]" matInput
                                    [(ngModel)]="element[col]">
                                <span msg-error [valido]="element[col]" style="font-size: 8px;"></span>
                            </mat-form-field>

                            <!-- Campos no editables -->
                            <div *ngSwitchCase="'isSelected'"></div>
                            <div *ngSwitchCase="'email'">{{ correo }}</div>
                            <div *ngSwitchCase="'telefono'">{{ telefono }}</div>

                            <!-- botoneria -->
                            <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                <button mat-button (click)="editRow(element)">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <button mat-button (click)="searchDataTable()">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
    </div>
</article>

<!-- <pre>{{ this.dataSource.data | json }}</pre> -->
