<div mat-dialog-content>
<mat-card>
  <mat-card-header class="mat-card-header-umv">
    <div class="mat-card-header-text">
      <mat-card-subtitle>
        <h2>{{titulo}}</h2>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="ready">
      <form [formGroup]="formEntity" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Tipo Novedad</mat-label>
              <mat-select formControlName="idTipoNovedad">
                <mat-option *ngFor="let tipo of listas[97]"[value]="tipo.id_tipo">{{tipo.descripcion}}</mat-option>
              </mat-select>
              <mat-error *ngIf="tipoNovedadField.hasError('required')">Campo requerido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Rango de fechas</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="horaDesde" placeholder="Fecha Inicial">
                <input matEndDate  formControlName="horaHasta" placeholder="Fecha Final">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Observaciones</mat-label>
              <input matInput type="text" formControlName="observaciones" autocomplete="off">
              <mat-error *ngIf="observacionesField.hasError('required')">Campo requerido</mat-error>
              <mat-error *ngIf="observacionesField.hasError('maxlength')">Caracteres máximos 5</mat-error>
            </mat-form-field>
          </p>
      </form>
    </mat-card-content>
    <mat-card-actions align="start">
      <div class="example-button-row">
        <button mat-button mat-dialog-close (click)="cancel($event)">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSubmit()">Guardar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>




