.contenido-seccion{
    display: grid;
   margin-top: 1rem;
}

@media (min-width: 895px) {

    .contenido-seccion{
        grid-template-columns: repeat(4, 1fr);

    }
  }

  @media (min-width: 699px) and (max-width: 894px){
    .contenido-seccion{
        grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 690px) {
    .contenido-seccion{
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 465px) {
    .contenido-seccion{
        grid-template-columns: 1fr;
    }
  }

  .campo{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

mat-table{
  min-width: 3200px;
}

.mat-cell{
  min-width: 100px;
}

.mat-header-cell{
  min-width: 100px;
  margin-right: 5px;
  border-right: 1px solid lightgray;
}

.mat-column-OBSERVACION{
  min-width: 200px;
  max-width: 15%;
  flex: 0 0 15%;
}

.mat-column-FALLAS{
  min-width: 80px;
  flex: 0 0 5%;
}

.mat-column-OTROS_FACTORES{
  min-width: 80px;
  flex: 0 0 7%;
}

.mat-column-OBSERVACION-GESTION{
  min-width: 250px;
  max-width: 15%;
  flex: 0 0 15%;
}

.mat-column-FECHA_FIN{
  min-width: 80px;
}

.mat-column-FECHA_INICIO{
  min-width: 80px;
}
.mat-column-FECHA_DE_VISITA{
  min-width: 80px;
}

.mat-column-PK_ID{
  min-width: 70px;
}

.mat-column-CIV{
  min-width: 70px;
}

.mat-column-LOCALIDAD{
  min-width: 102px;
}


.mat-cell {
  margin-right: 5px;
  border-right: 1px solid lightgray;
}

@media (min-width: 645px) {
  .contenedor-controles-datatable{
    display:flex;
    align-items:center;
    padding-top: 8px;
    padding-bottom: 8px;
    mat-paginator{
      margin-left: auto;
    }
  }
}

.contenedor-controles-datatable{
  button{
    overflow: hidden;
  }
}

mat-table {
  overflow: auto;
  max-height: 100vh;
}
