.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.container-flex{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  align-items: stretch;
}

.container-flex div{
  width: auto;
  margin: 15px;
}


