table {
  width: 100%;
}

.mat-cell{
  border-right: 1px solid lightgray;
  border-collapse: collapse;
  min-width: 2rem;
  min-height: 1rem;
}

.mat-header-cell{
  min-width: 1rem;
  padding: 1px 1px;
  text-align: center;
}

.mat-form-field {
  font-size: 9px;
  width: 90%;
  height: 10%;
  margin-bottom: -20px;
}
/* mat-table */
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}


