.nota-cargando {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 1rem;
    mat-spinner{
        margin-left: 0.5rem;
    }
  }
  .campo{
      margin-right: 0.5rem;
  }