.nuevo-btn {
    margin-top: 1rem;
}

.cnl-btn {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.calendar {
    width: 50%;
    margin: 0 auto;
}

.exp-btn {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.ampm-box {
    margin-top: 1rem;
}
