<mat-card>
  <mat-card-header class="mat-card-header-umv">
    <div class="mat-card-header-text">
      <mat-card-subtitle>
        <h2>{{titulo}}</h2>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <form [formGroup]="formEntity" (ngSubmit)="save($event)" >
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{ tituloCampo }}</mat-label>
        <input matInput formControlName="nomenclatura" autocomplete="off">
        <mat-error *ngIf="nomenclaturaField.hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="nomenclaturaField.hasError('maxlength')">Caracteres máximos 100</mat-error>
        <mat-error *ngIf="nomenclaturaField.hasError('nomenclaturaIguales')">Pk es el mismo</mat-error>
        <mat-error *ngIf="nomenclaturaField.hasError('nomenclaturaExists')">Pk no es correcto</mat-error>
        <mat-error *ngIf="nomenclaturaField.hasError('nomenclaturaIgual')">Ya se ingreso esta información</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Observacion</mat-label>
        <input matInput formControlName="observacion" autocomplete="off">
        <mat-error *ngIf="observacionField.hasError('maxlength')">Caracteres máximos 100</mat-error>
      </mat-form-field>
    </p>
  </form>
  <mat-card-actions align="start">
    <div class="example-button-row">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button color="primary" (click)="save($event)">Guardar</button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
