.mat-column-nombre_actividad{
    min-width: 15rem;
}

.mat-column-nombre_usuario{
    min-width: 15rem;
}

.mat-column-observacion_gestion{
    min-width: 15rem;
}

.scrollVertical{
    max-height: 15rem;;
    overflow-y: scroll;
}