.campo {
  align-content: top-right;
}
.mat-expansion-panel-header-title {
    width: 20%;
}

.mat-expansion-panel-header-description {
    width: 80%;
}

 .mid-width {
   font-size: 10px;
   width: 70%;
 }

.content-header {
  padding-right: 8px;
}

.conterr{
  height:60vh;
  overflow-y:auto;
}
